
.logo{
  width: inherit;
  height: inherit;
}
#carouselExampleIndicators{
  height:50%;
  padding-bottom: 20px;

}
.container{
  height: 50%;
  width: 90%;
  padding: 20px;

}

.socialMedia{
  width:40px;
  height: 40px;
  float:right;


}
.socialMediaCard{
  width:30%;
  height: 30%;
  padding-left: 5%
}

#forms{
  width: 75%;
  height: 40%;
  padding:20px;
}
#bottomNav{
  margin-top: 75px
}
@media (max-width:576px) {
  .container{
    width:90%;
  }
  #forms{
    width:100%
  }
  .socialMedia{
    width:30px;
    height: 30px;

  }
}
@media (max-width:320px) {
  p,a,#Textarea,#email,#phone,#name{
    font-size:15px
  }
.logo{width:90%}
}
